{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <a class="navbar-brand" href="/"><img style="width: 50%;" src="{% static "img/Monologue-logo.jpg" %}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a style="font-size: 25px;" class="nav-link" href="#">記事<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a style="font-size: 25px;" class="nav-link" href="#">NEWS/SNS</a>
      </li>
      <li class="nav-item dropdown">
        <a style="font-size: 25px;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          小説の部屋
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">小野小説</a>
          <a class="dropdown-item" href="#">ぼくとコロナと長谷先生</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a style="font-size: 25px;" class="nav-link" href="#">Member</a>
      </li>
    </ul>
    {% include "blog/snippets/search_form.html" %}
  </div>
</nav>
