{% extends "base.html" %}

{% block title %}{{ object.title }} | {{ block.super }}{% endblock %}
{% block description %}{{ object.description }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <main class="col-md-8">
      <h1 class="mb-4">章一覧</h1>
      <div>
        {% for chapter in chapter_list %}
        <div class="novel-outer">
          <h4 class="novel-inner"><a href="/novel/{{ novel_pk }}/chapter/{{ chapter.pk}}/story/">Chapter<span style="color: #0bd;"> {{ chapter.chapter_num }} </span>. {{ chapter.chapter_title }}</a></h4>
        </div>
        {% endfor %}
      </div>
    </main>
  </div>
</div>
{% endblock %}
