{% extends "base.html" %}

{% block title %}投稿一覧 | {{ block.super }}{% endblock %}
{% block description %}マイブログです。毎日更新します。{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <main style="padding: 15px;" class="col-md-8">
      <h1 style="text-align: center;">ようこそMonologueへ</h1>
      <p style="text-align: center;">我々元2-8組の片割れが様々な情報を発信いたします。どうぞご愛顧ください！</p>
      <div style="text-align: center;" class="outer"><a href="https://lin.ee/2AWIkuNPI"><img height="36" border="0" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a></div>
      <div style="text-align: center;margin: 10px 0;" class="outer"><a class="link" href="https://forms.gle/iXMXDQVLso1ecitq5">こちらでMonologueアンケートを開催しています。よければご回答ください！！</a></div>
      <div style="text-align: center;" class="outer"><a class="link" href="http://www.sapporokita.hokkaido-c.ed.jp/?page_id=15">札幌北高校全日制トップページはこちら</a></div>
      <hr>
      <h2 class="mb-4">投稿一覧</h2>
      {% include "blog/snippets/main_post_list.html" %}
      {% include "blog/snippets/pagination.html" %}
      {# {% include "blog/snippets/pagination_b.html" %} #}
    </main>
    <aside style="padding: 15px;" class="col-md-4">
      {% include "blog/snippets/sidebar.html" %}
    </aside>
  </div>
</div>
{% endblock %}
