{% extends "base.html" %}

{% block title %}{{ object.title }} | {{ block.super }}{% endblock %}
{% block description %}{{ object.description }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <main class="col-md-8">
      <p style="text-align: center">※下または横のコメント欄に感想お願いします！</p>
      <h1 class="mb-4">編集後記</h1>
        <p>
                    ㅤ2月の初旬。昼休みにいつものメンバーで集まって、小野くんの偉業を称えたのが全ての始まりでした。やがてそれを小野学と呼んで文章化しようとする動きが起こり、クラスラインに投稿することから小野くんシリーズは始まったのです。<br>
        ㅤ最初は小野学の一環として小野くんシリーズを投稿していたのでストーリーも何も無い単発投稿が多かったと思います。【小野くんの頂上戦争(上)】までがそんな感じでしょうか。一部界隈で色々な小野くんの話の案が出ていく中、自分はスキーのリフトの上でAotSと一緒に小野くんの今後について話していました。小野くんは世界を超越した高次元的存在ですが、私たちと共に生活する1人の生物であり、当然人間関係というものが存在します。そんな中で小野くんは下等種族｢ホモ・サピエンス｣についてどう思うんだろうという疑問が生まれ、そうして【小野くんの頂上戦争(下)】を書き上げ第2章が始まりました。小野くんシリーズがストーリーを持ち始めたのです。<br>
        ㅤ当初の予定では｢小野くんとホモ・サピエンス｣が作品の大きなテーマであり、最終回は小野くんが世界を救うのか、もしくは小野くんが人類を滅ぼすのかということでアンケートを採ることになっていました。しかし小野くんは心優しい高校生です。その問いは予想よりも早い時点で解決しました。小野学研究所の一員として伝えるべきところはそこには無いと思ったのです。<br>
        ㅤ小説など全く読まない、国語の点数は29点の私がどうして恥ずかしげもなく毎日小野くんシリーズを世にさらけ出すことができたのか。それは、小野くんのことを伝えたいという熱い思いからです。小野くんへの取材を重ねる中で、放送局員としての性でしょうか。小野くんの全てを伝えなければという使命感が生まれ、小野くんの人生全てを伝えることにしました。ちょうどそれと同時期にMonologueが発足し、私の文章は小野小説と仰がれるようになりましたが、ストーリーを持ったとしても私の意識としてはずっと小野くんの記録に過ぎないのです。<br>
        ㅤ皆さんは小野くんの人生を通して何を学びましたか？小野くんシリーズの中では多くの死が描かれました。当然のことです。生物であるならば必ず生と死、始まりと終わりがあります。そして死の形が必ず綺麗なものとも限りません。高校生になってからの2年間で私自身も数人の家族、親族の死を迎えましたが、人の人生はしばしば無情にも終わってしまいます。そして、作中における小野くんのように、どれだけの豪傑、知将であってもその勢いを最後まで保てるとは限りません。数日前のワニの死で感じ取った人が多いと思いますが、“今”を大切に生きることが大切なのではないかと思います。もちろん、将来に向けて努力することも今を精一杯生きることだと言えると思います。一日一日を無駄にしないこと。それが、最期に後悔しない生き方だと思います。<br>
        ㅤ最後になりますが、リフトで共に先の展開を考えてくれたAotS、サイト運営をしてくれた河村空知、ツイートをよくしてくれたもりもり、色々なアイデアをくれた2-8の人達、そして、最後まで応援してくれた皆様。今まで本当にありがとうございました。本日の24日をもって三学期が終了しますので、2-8の一員として小野くんの様子を描く本シリーズは終わってしまいますが、小野くんは今も地球のどこかで学問を生み出し続けています。これからも小野くんのことを応援してあげてください。この文章を読んでくれているみんなが小野くんシリーズ第2部を作り上げていくのです。それではまた、どこかで会いましょう。<br>
        <br>
        <br>
        <br>
        あね
        <br>
        </p>
    </main>
      <aside class="col-md-4">
          <div class="wrapper">
            <br>
            <table border="0" cellspacing="0" cellpadding="1">
                <tr>
                    <td>
                        <form method="POST" action="comment.php?rep=1" target="com">
                            <span style="font-size:18px;font-weight:100;color:#ff0000">◆</span><b>こちらに感想をお願いします！！</b>(100字まで)<br>
                            <input type="text" id="comment" name="comment" size="80" style="font-size:20px;width:75%;border:1px solid #00ccff">
                            <input type="submit" id="submit" value=" 送信 " style="width:54">
                            <p></p>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="commentv" style="font-size:13px;line-height:15px;color:black;width:95%;height:200px;border:3px solid #0bd;border-radius: 5px;padding:8px;overflow-y:scroll;display:none;"></div>
                        <iframe name="com" src="comment.php" id="com" style="width:301px;height:201px;border:0px;padding:0px;overflow:hidden;display:none;"></iframe>
                    </td>
                </tr>
            </table>
            <br>
          </div>
      </aside>
  </div>
</div>
{% endblock %}